@import url(border.css);

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body > div {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

body > div > div:first-child {
  width: 80%;
  height: 100%;
}

body > div > div:nth-child(2) {
  width: 20%;
  height: 100%;
}

body > div > div:nth-child(2) > div:first-child {
  height: 80%;
}

body > div > div:nth-child(2) > div:nth-child(2) {
  height: 20%;
}
